body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

body p {
	color:#666;
}

.oscillator-row {
	border:1px solid #f2f2f2;
	margin: 1%;
	padding: 10px;
	background: #fff;
	display:inline-block;
	min-width:320px;
}

.control-row {
	color:#999;
}

.control-row:after {
	clear: both;
	content: "";
	display: table;
}

.control-row p {
	color:#999;
}

.control-row button {
	margin: 4px 0px 4px 6px;
	padding:6px 14px;
	font-size: 16px;
	cursor: pointer;
	font-weight: 700;
	border-radius: 5px;
	color:#808080;
}

.control-row button:hover {
	background: #f2f2f2;
	transition: all .3s ease-in-out;
}

.control-row input {
	width:90%;
}

.control-row p {
	line-height: 0pt;
}